@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

// Vars
$family-sans-serif: "Abel";
$black: #2f3030;
$charcoal: #213130;
$bluegray: #7b88a0;
$babyblue: #bccbe0;
$slate: #8a9ea1;
$ivory: #f4f4f6;
$red: #F76F8E;

$body-background-color: $black;
$text: $ivory;
$link: $bluegray;
$link-visited: $babyblue;
$link-hover: $babyblue;
$content-heading-color: $slate;

// Import bulma styles
@import "~bulma";

h1,
h2,
h3,
h4 {
    a {
        .icon {
            width: 0px;
        }
    }
}