@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

// Vars
$family-sans-serif: "Abel";
$spacecadet: #2d3142;
$independence: #4f5d75;
$silver: #bfc0c0;
$white: #ffffff;
$mandarin: #ef8354;

// Basic Settings
$body-background-color: $spacecadet;
$text: $white;
$link: $silver;
$link-visited: $silver;
$link-hover: $independence;
$content-heading-color: $spacecadet;

// Table Settings
$table-background-color: $spacecadet;
$table-cell-heading-color: $white;  // Heading text color
$table-color: $independence;
$table-striped-row-even-background-color: $mandarin;
$table-row-hover-background-color: $spacecadet;
$table-head-background-color: $silver;

// Import bulma styles
@import "~bulma";

h1,
h2,
h3,
h4 {
    a {
        .icon {
            width: 0px;
        }
    }
}